*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* UTILITY */

.debug{
    background-color: rgba(255, 0, 0, .7);
    border: 1px solid black;
}
/* GENERALI */

body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;

    z-index: 999;
    background-color: #FFFFFF;
}

a{
    text-decoration: none;
}

.btn-blue{
    padding: 10px 15px;
    color: white;
    background-color: #0061FF;
}

.container{
    width: 90%;
    margin: 0 auto;
}


/* HEADER */


header nav.nav-left{
    padding: 10px;
    display: flex;
}
header nav.nav-right{
    padding: 10px;
    display: flex;
}

header ul{
    margin-left: 40px;
    display: flex;
    list-style: none;
}
header ul li{
    margin-right: 30px;
}
header ul li a{

    text-decoration: none;
}

/* JUMBOTRON */

.jumbotron{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #B4D0E7;
    height: 700px;
}
.jumbotron .container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.jumbotron .container .jumbo-text{
   width: 30%;
   margin-top: 70px;
   
}
.jumbotron .container .title{
    width: 100%;
}
.jumbotron .container .title h1{
    width: 80%;
    margin-top: 90px;
    text-align: start;
    font-size: 4rem;
    font-weight: 800;
}
.jumbotron .container .img{
    width: 30%;
}
.jumbotron .container .img img{
    width: 850px;
    position: absolute;
    top: 300px;
    right: 300px;

}

.jumbotron .container .btn-blue{
    margin: 35px 0;
    
    
}

.jumbotron i{
    font-size: 2.5rem;

    margin-top: 90px;
}

/* MAIN */

main{
    padding: 80px 0px 0px 0px;
}

.container.c-plans{
    display: flex;
    justify-content: flex-start;
    width: 60%;
    margin: 0 auto;

    /* DA TOGLIERE */
    height: 700px;
}

.plans .plans-h2{
    margin-top: 160px;
    margin-bottom: 65px;
    font-size: 1.4rem;
}
.plans .fatturazione span{
    margin-right: 50px;
}

