*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* UTILITY */

.debug{
    background-color: rgba(255, 0, 0, .7);
    border: 1px solid black;
}
/* GENERALI */

body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;

    z-index: 999;
    background-color: #FFFFFF;
}

a{
    text-decoration: none;
}

.btn-blue{
    text-align: center;

    font-size: .9rem;
    padding: 10px 10px;
    color: white;
    background-color: #0061FF;
}
.btn-white{
    text-align: center;

    font-size: .9rem;
    padding: 10px 10px;
    background-color: white;
}

.little-container{
    width: 70%;
    margin: 0 auto;
}

.container{
    width: 90%;
    margin: 0 auto;
}


/* HEADER */


header nav.nav-left{
    padding: 10px;
    display: flex;
}
header nav.nav-right{
    padding: 10px;
    display: flex;
}

header ul{
    margin-left: 40px;
    display: flex;
    list-style: none;
}
header ul li{
    margin-right: 30px;
}
header ul li a{

    text-decoration: none;
}

/* JUMBOTRON */

.jumbotron{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #B4D0E7;
    height: 700px;
}
.jumbotron .container.c-jumbo{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.jumbotron .container.c-jumbo .jumbo-text{
   width: 30%;
   margin-top: 70px;
   
}
.jumbotron .container.c-jumbo .title{
    width: 100%;
}
.jumbotron .container.c-jumbo .title h1{
    width: 80%;
    margin-top: 90px;
    text-align: start;
    font-size: 4rem;
    font-weight: 800;
}
.jumbotron .container.c-jumbo .img{
    width: 30%;
}
.jumbotron .container.c-jumbo .img img{
    width: 850px;
    position: absolute;
    top: 300px;
    right: 200px;

}

.jumbotron .container.c-jumbo .btn-blue{
    margin: 35px 0;
    
    
}

.jumbotron i{
    font-size: 2.5rem;

    margin-top: 90px;
}

/* MAIN */

main{
    padding: 80px 0px 0px 0px;
}

.little-container.c-plans{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

.plans .plans-h2{
    margin-top: 160px;
    margin-bottom: 65px;
    font-size: 1.4rem;
}
.plans .little-container.c-plans div.fatturazione{
    margin-bottom: 50px;
}
.plans .little-container.c-plans div.fatturazione span{
    margin-right: 50px;
}
.plans .little-container.c-plans div.fatturazione span::before{
    content: '\1F518';
}

.plans .little-container.c-plans .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.plans .little-container.c-plans .col{
    width: calc(100% / 3);
    max-width: 1200px;
    padding: 20px;
}
.tab{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    border: 1px solid gray;
}
.tab .tab-top{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    border-bottom: 1px solid gray;
}
.tab .tab-mid{
    display: flex;
    padding: 15px 0px;

    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.tab .tab-bot{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.tab .tab-mid h2{
    margin-top: 10px;
    font-size: 1.4rem;
}
.tab .tab-mid span.price{
    display: block;
    margin: 20px 0;
    font-size: .9rem;
    font-weight: 600;
}
.tab .tab-mid span.period{
    color: gray;
}
.tab ul{
    list-style: none;
}
.tab ul li{
    font-size: 1rem;
    margin-top: 25px;
}
/* .tab ul li.list-folder::before{
    
} */

.tab div.btn-blue.vertical{
    margin: 50px 0;
}


.little-container.c-plans 
div.col.enterprise{
    width: 100%;
}
.little-container.c-plans 
div.col.enterprise .tab.enterprise{
    width: 100%;
    margin-bottom: 130px;
    border: 1px solid grey;
}
.little-container.c-plans 
div.col.enterprise .tab-mid.enterprise{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border: none;
}

.little-container.c-plans 
div.col.enterprise .tab-mid.enterprise .e-plan-left{
    width: 70%;
}
.little-container.c-plans 
div.col.enterprise .tab-mid.enterprise h2{
    margin-bottom: 15px;
}
.little-container.c-plans 
div.col.enterprise .tab-mid.enterprise p{
    margin-top: 55px;
}

/* SEZIONE TROVA PARTNER */

section.little-container.find-partner{
    width: 60%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.partner-img{
    width: 69%;
    margin-right: 50px;
}
.partner-img img{
    width: 100%;
}
.partner-text{
    display: flex;
    width: 31%;
    flex-direction: column;
    justify-content: center;
}
.partner-text h3{
    font-size: 1.7rem;
    margin-bottom: 20px;
}
.partner-text p{
    margin-bottom: 30px;
}
.btn-white.partner{
    border: 1px solid black;
}

/* SEZIONE DB BUSINESS CON CARD */

.little-container.db-business{
    width: 60%;
    padding: 20px;
}
.little-container.db-business h2{
    font-size: 2rem;
    margin-top: 160px;
}
.little-container.db-business .row{
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}
.little-container.db-business .row .db-card{
    width: calc(100% / 3);
    padding: 20px;
}
.little-container.db-business .row .db-card h3{
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.little-container.db-business .row .db-card p{
    font-size: .9rem;
    line-height: 20px;
}
.little-container.db-business .row .db-card .db-img img{
    width: 100%;
    margin: 30px 0px 20px 0px;
}